*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Noto Sans', sans-serif;
   
}

.container{
    
    background-image: url(../images/login-bg.jpg);
    width: 1440px;
    height: 731px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    position: relative;
}

.logo{
    padding: 15px 20px;
   
    font-family: var(--ff-primary);
    font-size: 34px;
    color: white;
}

.logo span{
    color: red;
}

.box-wrapper{
    
    width: 675px;
    height: 600px;
    left: 367px;
    top: 91px;
    position: absolute;
    background: linear-gradient(127.5deg, rgba(52, 52, 60, 0.68) 5.27%, rgba(28, 26, 35, 0.9) 100%);
    backdrop-filter: blur(5px);

    border-radius: 82px;
}

.hero-header{
    text-align: center;
    margin: 20px auto 0;
    width: 204px;
    height: 77px;
    
    font-size: 48px;
    font-family: var(--ff-primary);
    font-style: normal;
    font-weight: 700;
 
    line-height: 88px;

    color: #F00A0A;
}

.hero-welcome{
    
    font-family: var(--ff-primary);
    font-size: 32px;
    color: white;
}

.hero-text{
    margin: 5px 70px;
    font-family: var(--ff-primary);
    font-size: 16px;
    color: white;
}

.hero-content{
   text-align: center;
    z-index: 2;
}   

.form-container{
    margin: 0 70px;
    width: 30%;
    text-align: left;
    margin: 0 auto;
}
input, label{
    display: block;
    text-align: left;
  
 
}


input{
    width: 220px;
    height: 32px;
}
label{

    color: aliceblue;
}

.btn{
    margin: 20px 0;
    width: 200px;
    height: 32px;
}